@font-face {
  font-family: BebasNueve;
  src: local('BebasNueve'), url(./fonts/BebasNeue-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Quicksand;
  src: local('Quicksand'), url(./fonts/Quicksand-Regular.ttf) format('truetype');
}

@font-face {
  font-family: PatrickHand;
  src: local('PatrickHand'), url(./fonts/PatrickHand-Regular.ttf) format('truetype');
}

.bigProofTitle {
  font-family: BebasNueve;
  font-size: 25px;
  padding: 2px;
}

.bigProofSteps {
  font-family: Quicksand;
  font-size: 15px;
  line-height: 1.4;
}

.smallProofSteps {
  font-family: Quicksand;
  font-size: 14px;
  line-height: 1.4;
}

.handwritten {
  font-family: PatrickHand;
}

.am-accordion-header {
  height: auto !important;
  min-height: 44px;
}